{% extends 'accounts/mainfile.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h3>Extra-curricular activities has always been important part od student life to develope his/her personality</h3>

    <br>
  </div>
<div>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-9">
    <b> Activity </b>
  </div>
  <div class="col-sm-2">
    <b> Description </b>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <div class="card card-body">
<table class="table">
{%for i in ec %}
  <tr>

  <td>{{i.name}}</td>
  <td>{{i.description}}</td>
  </tr>

{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
