{% extends 'accounts/mainfile.html' %}
{% block content %}

<!--Section: Contact v.2-->


    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Feedback Form</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any suggestions? Please do not hesitate to contact.





            <form class="form-group"  method="POST">
              {% csrf_token %}


                <div class="row">
                  <div class="col-sm-4">
                    </div>

                      <div class="col-sm-4">
                         {{feed.name.label}}
                       <br>
                          {{feed.name}}

                      </div>
                      <div class="col-sm-4">
                        </div>


                    <br>
                    <div class="col-sm-4">
                      </div>
                      <div class="col-sm-4">


                             {{feed.email.label}}
                             <br>
                              {{feed.email}}

                      </div>
                      <div class="col-sm-4">
                        </div>




                 <br>

                <div class="col-sm-4">
                  </div>
                  <div class="col-sm-4">
                      {{feed.subject.label}}
                     <br>
                           {{feed.subject}}
                  </div>
                  <div class="col-sm-4">
                    </div>

               <br>
               <div class="col-sm-4">
                 </div>
                 <div class="col-sm-4">

                         {{feed.message.label}}
                         <br>
                          {{feed.message}}
                  </div>
                  <div class="col-sm-4">
                  </div>
                  </div>

                <br>
                <!--Grid row-->
                <div class="row" >
                   <div class="col-sm-4">
                  </div>
                  <div class="col-sm-4">

                  <input type="submit" name="submit" class="btn btn-success" onclick="popup()">

               </div>
               <div class="col-sm-4">
              </div>
              </div>
          </form>


<script type="text/javascript">
  function popup() {
    setTimeout(function(){ alert("Thanks for submitting feedback"); }, 3000);
  }

</script>

<style >
  .wid{
size : 10px;}
</style>


{% endblock %}
