{% extends 'accounts/mainfile.html' %}

{% block content %}
<h1>
Welcome! Build your online Resume with this page
</h1>

<h3>
Click on the links on navigation bar for further information
</h3>
<h5>
This page is created as a personal project on Django Framework using HTML, CSS, Javascript, SQLite and BootStrap.
</h5>

<br>
<br>
<br>
For building this page, register on the given account and then update data accordingly.
<br>
This page is created by Aniket Babasaheb Kumbhar from IIT Roorkee.
{% endblock %}
