{% load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="cropped"><img src="{% static 'images/Aniket.jpg'%}" ></div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Resume
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/myprojects">My Projects</a>
        <a class="dropdown-item" href="/extracurricular">Extra-Curricular Activies</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="mailto:akumbhar@ch.iitr.ac.in?subject=RegardingWebsite">Hire this Man!</a>
      </div>
    </li>
    <li class="nav-item">
    
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/feedback" >Feedback</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <div class="b"> <b> Hello {{request.user}} </b></div>
    <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'logout' %} >Logout</a>
  </form>
</div>
</nav>

<style>
  .b
  {color: white;

  }
  .cropped img
  { opacity:0.8;
  }

</style>
