<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Hi There!</title>
  </head>
<body>
<h3>Reset your password here</h3>

<p></p>

<form method="post" class="form-group">
   Please enter you email.
   <br>
	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email" class="btn btn-success">

</form>
</body>
</html>
